- @content_for_title = "Home"
.dashboard
  .hero-unit
    %h2 Welcome To Online Airline Enquiry Portal
    %p This is a simple application which helps the users to enquire airline availability.
    %p
      = link_to "Make an Enquiry", new_enquiry_path, :class => "btn btn-large btn-primary"
