/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.signup_form_container, .signin_form_container { 
  top: auto;
  position: relative;
  left: auto;
  margin: 40px auto;
  max-width: 100%;
  width: 560px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 3px #CCC; 
}

.signup_form_container h2, .signin_form_container h2 {
  line-height: 27px;
  padding: 6px;
}

.form-header {
  border-bottom: 2px solid #EEE;
  padding: 10px 10px 0 10px;
}

.form-body {
  max-height: 600px;
  padding: 15px;
  overflow-y: auto;
}
 
.form-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background: whiteSmoke;
  border-top: 1px solid #CCC;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}
 
.signup-form, .signin-form, .enquiry-form { 
  margin-bottom: 0;
}

.dashboard {
  width: 800px;
  margin: 40px auto;
}

.main_container {
  top: auto;
  position: relative;
  left: auto;
  margin: 40px auto;
  max-width: 100%;
  width: 860px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 3px #CCC; 
}

.passenger_details_container {
  margin: 10px;
}

.passenger_details_container h4 {
  text-align: center;
}

.passenger_details_container .control-group {
  margin: 10px;
}

.passenger_details_container input {
  margin-right: 10px;
}

.control-buttons {
  float: right;
}

#new_enquiry select, .passenger_details select {
  width: auto;
}

#new_enquiry .source {
  float: left;
  width: 460px;
}

#new_enquiry .trip_type1, #new_enquiry .adults, #new_enquiry .children  {
  float: left;
  width: 300px;
}

#new_enquiry .class_of_travel, #new_enquiry .airline_preference  {
  float: left;
  width: 220px;
}

.alert, .alert-error, .passenger_details h3 {
  text-align: center;
}

#continue_button, #submit_button {
  text-align: center
}

.passenger_details select, .passenger_details input {
  margin: 10px;
}

#enquiry_departure_date, #enquiry_return_date {
  width: 120px;
}

#enquiry_airline_preference {
  width: 180px;
}
